<ion-header>
  <ion-toolbar>
    <ion-title>App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="calendar">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Calendar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="workout">
        <ion-icon name="barbell-outline"></ion-icon>
        <ion-label>Workout</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
