<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="prevMonth()">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ viewDate | date: 'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextMonth()">
        <ion-icon name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Calendar -->
  <div class="calendar">
    <ion-grid>
      <ion-row class="weekdays">
        <ion-col *ngFor="let weekday of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']">
          <div>{{ weekday }}</div>
        </ion-col>
      </ion-row>
      <ion-row class="dates">
        <ion-col *ngFor="let day of days">
          <div
            *ngIf="day !== null"
            class="day"
            [ngClass]="{'selected': isSelected(day), 'workout': events[formatDate(day)]}"
            (click)="selectDay(day)">
            {{ day.getDate() }}
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Lista Antrenamentelor pentru ziua selectată -->
  <ion-card *ngIf="selectedDay" class="workouts-list-card">
    <ion-card-header class="m-5">
      <ion-card-title><ion-icon name="bicycle" class="pad-3"></ion-icon> Activități fizice pentru ziua {{ selectedDay | date:'dd/MM/yyyy' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="events[formatDate(selectedDay)] && events[formatDate(selectedDay)].length > 0">
      <ion-list>
        <ion-item *ngFor="let workout of events[formatDate(selectedDay)]" class="workout-item">
          <ion-grid>
            <ion-row>
              <!-- Left Side: Training Type and Exercise -->
              <ion-col size="6" class="training-details">
                <h3>{{ workout.trainingType }}</h3>
                <p>Exercițiu: {{ workout.exercise }}</p>
                <ion-icon name="barbell" size="large"></ion-icon>
              </ion-col>
              <!-- Right Side: Sets Table -->
              <ion-col size="6" class="sets-details">
                <ion-grid>
                  <ion-row>
                    <ion-col size="6"><strong>Greutate (kg)</strong></ion-col>
                    <ion-col size="6"><strong>Repetari</strong></ion-col>
                  </ion-row>
                  <ion-row *ngFor="let set of workout.sets">
                    <ion-col size="6">{{ set.weight }}</ion-col>
                    <ion-col size="6">{{ set.reps }}</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
    <ion-card-content *ngIf="!events[formatDate(selectedDay)] || events[formatDate(selectedDay)].length === 0" class="t-c">
      <p>Nu ai nicio activitate fizică adăugată</p>
    </ion-card-content>
    <ion-card-content class="button-container">
      <ion-button expand="full" shape="round" color="primary" (click)="openAddWorkoutModal()" class="add-button">
        <ion-icon name="add"></ion-icon> Adaugă
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Modal Adăugare Antrenament -->
  <ion-modal [isOpen]="isModalOpen" (ionModalDidDismiss)="closeAddWorkoutModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adaugă Antrenament</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddWorkoutModal()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card class="add-item-card">
          <ion-card-header>
            <ion-card-title>Adaugă Antrenament pentru ziua {{ selectedDay | date:'dd/MM/yyyy' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="addItem()">
              <ion-item>
                <ion-label>Tip Antrenament</ion-label>
                <ion-input [(ngModel)]="trainingType" name="trainingType"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Exercițiu</ion-label>
                <ion-input [(ngModel)]="exercise" name="exercise"></ion-input>
              </ion-item>
              
              <!-- Seturi -->
              <ion-item class="set-table-container" *ngIf="sets.length > 0">
                <ion-grid>
                  <ion-row class="set-table-header">
                    <ion-col size="3"><strong>Set</strong></ion-col>
                    <ion-col size="3"><strong>Greutate (kg)</strong></ion-col>
                    <ion-col size="3"><strong>Repetari</strong></ion-col>
                    <ion-col size="3"><strong>Acțiuni</strong></ion-col>
                  </ion-row>
                  <ion-row *ngFor="let set of sets; let i = index" class="set-table-row">
                    <ion-col size="3" class="set-table-col">{{ i + 1 }}</ion-col>
                    <ion-col size="3" class="set-table-col">
                      <ion-input type="number" [(ngModel)]="set.weight" name="weight{{ i }}"></ion-input>
                    </ion-col>
                    <ion-col size="3" class="set-table-col">
                      <ion-input type="number" [(ngModel)]="set.reps" name="reps{{ i }}"></ion-input>
                    </ion-col>
                    <ion-col size="3" class="set-table-col">
                      <ion-button color="danger" (click)="removeSet(i)"><ion-icon name="trash"></ion-icon></ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-grid class="button-row">
                <ion-row>
                  <ion-col size="4">
                    <ion-button type="submit" color="success" class="button-submit full-width-button">
                      Adaugă
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button shape="round" color="primary" (click)="addSet()" class="button-add-set">
                      <ion-icon slot="icon-only" name="add"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button color="danger" (click)="closeAddWorkoutModal()" class="button-cancel full-width-button">
                      Anulează
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              
            </form>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
